* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/burj-khalifa.jpg) no-repeat center;
  opacity: 0.95;
  background-size: cover;
}

.form-container {
  display: flex;
  height: 80vh;
  width: 80vw;
  box-shadow: 10px 10px 40px #000;
}

.img-side {
  background: url(../img/burj-khalifa.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 100%;
}

.form-side {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.form-side form {
  width: 80%;
}

/* inputs */
input {
  width: 100%;
  padding: 10px;
}

[class^="col"] {
  margin-bottom: 30px;
}

.terms {
  display: flex;
}

#submit {
  border-radius: 5px;
  background: darkblue;
  color: white;
  border: none;
  outline: none;
}

.btn-floating {
  background: darkblue !important;
  color: white !important;
}
